<% provide(:title, "My Contacts")%>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="text-center">My Contacts</h1>

    <%= link_to " + Add Contact", new_contact_path, class: "btn btn-default" %>

    <ul class="list-group">
      <%= render @contacts %>
    </ul>

  </div>
</div>
